/* dashbard */
.dashboard .text-content{
    flex: 1;
    text-align: right !important;
}
.dashboard span{
    height: 3.3125rem;
    width: 3.3125rem;
    font-size: 1rem;
    min-width: 3.3125rem;
}

.dashboard span i{
    font-size: 3rem;
}